@font-face {
    font-family: 'Chentenario';
    src: url('./fonts/Chentenario.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Chentenario', '';
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(./img/01_page_background/page-background.jpg);
    background-size: 100% 100%;
    overflow-y: hidden;
}

canvas {
    border-radius: 16px;
    display: block;
}

.overlay {
    width: 720px;
    height: 480px;
    position: relative;
}

.button-container {
    position: absolute;
    top: 85%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

button {
    background-color: rgb(224, 146, 51);
    color: white;
    font-family: 'Chentenario', '';
    border-radius: 4px;
    cursor: pointer;
    height: 32px;
    width: 150px;
}

button:hover {
    transition: ease-in-out 0.2s;
    transform: translate(1px, 1px);
    background-color: gold;
}

.d-none {
    display: none !important;
}

.start-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.start-screen img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.start-screen button {
    width: 150px;
    height: 50px;
    font-size: 18px;
    background-color: rgb(224, 146, 51);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.start-screen button:hover {
    transition: ease-in-out 0.2s;
    transform: translate(1px, 1px);
    background-color: gold;
}

.start-screen-buttons {
    position: absolute;
    top: 40px;
    width: 720px;
    display: flex;
    justify-content: space-around;
}

.icons-container {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

.icons-container img {
    width: 24px;
}

.icons-container button {
    width: 36px !important;
    height: 30px;
    margin: 8px;
    z-index: 10
}

.key-assignment {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 10%;
}

.key-assignment img {
    width: 32px;
}

.key-assignment div {
    display: flex;
    align-items: center;
    margin: 16px;
}

.stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 18px;
}

.stats img {
    width: 35%;
    height: 50%;
}

.stats-text {
    width: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.stat-numbers p {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    font-size: 16px;
    font-size: 24px;
    margin: 18px 0 !important;
}

.stats p {
    display: flex;
    justify-content: center;
}

.winning-screen button {
    position: absolute;
    bottom: 20px;
}

.winning-screen {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

#killedEnemies {
    margin: 18px 0;
}

#collectedCoins {
    margin: 18px 0;
}

#collectedBottles {
    margin: 18px 0;
}



@media only screen and (max-width: 720px) {
    .overlay {
        border-radius: 0;
        /* height: 100vh; */
        width: 100%;
    }

    .start-screen-buttons {
        width: 100%
    }

    canvas {
        border-radius: 0;
        width: 100%;
    }

    h1 {
        display: none;
    }
}

@media only screen and (max-height: 480px) {
    .overlay {
        border-radius: 0;
        height: 100vh;
        width: 100%;
    }

    canvas {
        border-radius: 0;
        height: 100vh;
        width: 100%;
    }

    h1 {
        display: none;
    }

    .start-screen-buttons {
        width: 100%;
        /* height: 30px; */
        /* font-size: 12px; */
    }
}

@media only screen and (max-width: 560px) {
    .start-screen button {
        width: 75px;
        height: 30px;
        font-size: 12px;
    }

}